.home_content{
    width: 99%;
    display:grid;
    grid-template-columns: auto auto;
    background-color:white;
    /* padding: 10px; */
}
.home_content .main_content{
  
    background-color:orange;
}
.category{
    background-color:white;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex: 1;
    flex-direction: column;
}
 .category_title {
    width:88%;
    height: fit-content;
    background-color:transparent;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.category .category_title div{
    width:fit-content;
    height:fit-content;
    background-color:transparent;
    
}
.category .category_title .space{
    width:90%;
    height:20px;
    background-color:rgb(95, 33, 33);
    flex: 1;

}

.category_title h1{
    width:fit-content;
    height: fit-content;
    background-color:rgb(95, 33, 33);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-top-right-radius: 20px;
    color: white;
}


.category .items{
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color:white;
}

.category .items article{
    height: 100%;
    width: 30%;
    margin: 10px;
    max-width: 300px;
}


.home_content .sidebar{
    display:flex;
    flex: 1;
    flex-direction: column;
    height: 80%;
    flex-wrap: wrap;
    background-color:black;
}