.advice_content{
    width: 99%;
    display:grid;
    grid-template-columns: auto auto;
    background-color:white;
    
}
.advice_content .main_content{
    padding: 10px;
    background-color:white;
    padding-bottom: 40px;
}

.advice_content .category_button{
    background-color:white;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex: 1;
    flex-direction: row;
    
    
}

.advice_content .category_button .button{
    background-color:rgb(201, 106, 201);
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    transition:all 0.2ms ease-in-out;
}

.advice_content .category_button .button:hover{
    background-color:rgb(73, 77, 129);
    color: white;
    transform: scale(1.1);
}
.advice_content .main_content .post{
    background-color: white;
}

.advice_content .main_content .big_title{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin-top:20px;
    margin-bottom: 10px;
}

.advice_content .main_content .category_content{
    background-color:white;
    margin-top: 30px;
}

.advice_content .main_content .category_content .title{
    display: flex;
    flex-direction: row;
    background-color:white;
    color:black;
    font-size: 23px;
    font-weight: bold;
    margin: 10px;
}

.advice_content .main_content .category_content .title p{
margin-right: 10px;

}
.advice_content .main_content .category_content .description{
    background-color:white;
    color:black;
    font-size: 23px;
    margin: 10px;
}

.advice_content .sidebar{
    display:flex;
    flex: 1;
    flex-direction: column;
    height: 80%;
    flex-wrap: wrap;
    background-color:black;
}