.top_content{
    width: 99%;
    display:grid;
    grid-template-columns: auto auto;
    background-color:white;
    /* padding: 10px; */
}
.top_content .main_content{
  
    background-color:white;
}
.top_content .filter{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
    margin: 10px;
}
.top_content .filter select{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

.top_content .filter .button{
    width: 50%;
    height: 40px;
    padding: 10px;
    margin: 10px;
    background-color:black;
    color:white;
    border-radius:5px;
    font-size:18px;
    transition: all 0.2s ease-in-out;
}

.top_content .filter .button:hover{
    background-color:rgb(42, 2, 2);
    transform: scale(1.1);
}

.top_content .category{
    background-color:white;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;
    align-items:left;
    padding: 10px;
    margin: 10px;
}
.top_content .category .title{
    width:70%;
    height: fit-content;
    background-color:red;
    display: grid;
    grid-template-columns: 10% auto 30%;
    gap: 1px;
    /* align-items: center; */
}

.top_content .category .title div{
    width:100%;
    height: fit-content;
    background-color:white;
    display: grid;
    gap: 1px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}


.top_content .category .item_row {
    width:70%;
    height: fit-content;
    background-color:red;
    display: grid;
    grid-template-columns: 10% auto 30%;
    grid-template-rows: auto;
    border: 1px solid black;
    gap: 0px;
    
}
.top_content .category .item_row .order,.description, .link{
    width:100%;
    height: fit-content;
    background-color:white;
    padding-left: 5px;
}

.top_content .category .item_row  .description{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    font-weight:bold;
    padding: 5px;
    background-color:white;
    border-left: 1px solid black;
    border-right: 1px solid black;

}
.top_content .category .item_row  .description p{
   font-size: 18px;
   font-weight: 400;

}
.top_content .category .item_row  .description .name-place{
    color:black;
    background-color:white;
}
.top_content .category .item_row .description img{
    width:50px;
    height: 50px;
    background-color:white;
    border-radius:10px;
    margin-right: 10px;
  
}

.top_content .category .item_row > .link{
    height: 100%;
    width: 100%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    align-items: center;
    align-content: center;
    justify-content: center;
}




.top_content .sidebar{
    display:flex;
    flex: 1;
    flex-direction: column;
    height: 80%;
    flex-wrap: wrap;
    background-color:black;
}

