.top_content{
    width: 99%;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:space-between;
    /* grid-template-columns: auto auto; */
    background-color:white;
    /* padding: 10px; */
}
.top_content .main_content{
    flex: 50%;
    background-color:white;
}
.top_content .filter{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
    margin: 10px;
}
.top_content .filter select{
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 10px;
}

.top_content .filter .button{
    width: 50%;
    height: 40px;
    padding: 10px;
    margin: 10px;
    background-color:black;
    color:white;
    border-radius:5px;
    font-size:18px;
    transition: all 0.2s ease-in-out;
}

.top_content .filter .button:hover{
    background-color:rgb(42, 2, 2);
    transform: scale(1.1);
}


td .order,.description, .link{
    width:100%;
    height: fit-content;
    background-color:white;
    padding-left: 5px;
}

td  .description{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 25px;
    font-weight:bold;
    padding: 5px;
    background-color:transparent;
    /* border-left: 1px solid black;
    border-right: 1px solid black; */

}
td .description p{
   font-size: 18px;
   font-weight: 400;

}
td  .description .name-place{
    color:black;
    background-color:rgb(255, 255, 255);
}
td .description img{
    width:50px;
    height: 50px;
    background-color:white;
    border-radius:10px;
    margin-right: 10px;
  
}

td .link{
    height: 100%;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}





.top_content .sidebar{
    flex: 10%;
    height: 80%;
    background-color:black;
}

table {
    border-collapse: collapse;
    width: 100%;
    
  }
  table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #b8a4a4}
  
  
  th {
    background-color: black;
    color: white;
  }

  @media (max-width: 800px) {
    .top_content .main_content,.top_content .sidebar{
      flex: 100%;
    }
}
