.footer_container{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: fit-content;
    width: 99%;
    padding: 10px;
    background-color:rgb(75, 125, 148);
}

.footer_container .main_content{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
    background-color:rgb(75, 125, 148);
}

.footer_container .main_content .category {
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 5px;
    margin-right: 5px;
    background-color:rgb(0, 0, 0);
    color: white;
}

.footer_container .main_content .category p{
    font-size:25px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 10px;
    background-color:rgb(75, 125, 148);
}

.footer_container .main_content .category div{
    font-size:20px;
    font-weight: 500;
    background-color:rgb(75, 125, 148);
    padding-top: 10px;
}

.footer_container .main_content .category div a{
    color:white;
    background-color:rgb(75, 125, 148);
    text-decoration-line: none;
}

.footer_container .main_content .category div a:hover{
    color:white;
    background-color:rgb(9, 30, 39);
    text-decoration-line: underline;
}

.footer_container .copyrigth {
    margin-top: 10px;
}

.footer_container .copyrigth p{
    text-align:center;
    padding: 10px;
}
