.detail_comment{
    width: 100%;
    height: fit-content;
    background-color:rgb(255, 254, 254);
}
.detail_comment p{
    margin-bottom: 50px;
}

.detail_comment .input{
    border-radius: 5px;
    height: 40px;
    max-width:500px;
    margin-left: 10px;
    margin-bottom: 40px;
    background-color: white;
}

.detail_comment ::placeholder{
    color: black;
    font-size:18px;
}

.detail_comment .comment{
    /* width:100%; */
    background-color: rgba(245, 237, 237, 0.924);
    min-height: 50px;
    font-size: 18px;
    padding: 10px;
    text-justify: left;
    font-weight: 500;
    max-width:1000px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.detail_comment .textarea{
    /* width:100%; */
    background-color: rgba(245, 237, 237, 0.924);
    min-height: 50px;
    font-size: 18px;
    padding: 10px;
    text-justify: left;
    font-weight: 500;
    width:800px;
    margin-left: 10px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.detail_comment .button{
    padding: 5px;
    font-size:25px;
    color:black;
    background-color: rgb(172, 164, 123);
    border-radius: 5px;
    margin-top:40px;
    margin-bottom: 50px;
    transition: all 0.3s ease-out;
}

.detail_comment .button:hover{
    color:white;
    background-color: black;
    transform: scale(1.1);
}

.detail_comment .comment_section{
    background-color: rgb(2, 2, 2);
    height:fit-content;
    margin-bottom:40px; 
    
}
.detail_comment .comment_section .comment_author{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: transparent;
    align-items: center;
}

.comment_author .icon{
    width:40px;
    height:40px;
    color:black;
    margin-left:10px;
    margin-top:4px;
    margin-bottom:4px;
    border-radius: 40px;
}

.comment_author .date_name{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width:92%;
    background-color:transparent;
    text-align: center;
}

.comment_author .date_name .username{
    color:white;
    margin-left:5px;
    font-size:20px;
    background-color: transparent;
    
}

.comment_author .date_name .date_time{
    display:flex;
    flex-direction:column;
    color:white;
    margin-left:5px;
    background-color: rgb(105, 89, 89);
}

.comment_author .date_name .date_time .time, .date{
    color:white;
    margin-left:5px;
    font-size:16px;
    background-color: transparent;
}

